@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles can go below */
body {
  background: #0f0f0f;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}
